@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: #e5e7eb;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 32px;
}

.hero {
    background-color: #1f2937;
    min-width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    padding: 16px;
}

.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
}

